.navigation{
  background: white;
  .container{
    .filter{
      margin-left: 20px;
      max-width: 880px;
      width: 100%;
      @include breakpoint-mobile{
        margin: 15px 0 0 ;
        max-width: 100%;
      }
      .filter-head{
        display: flex;
        justify-content: space-between;
        background: var(--color-background);
        padding: 0 20px;
        line-height: 45px;
        a {
          text-decoration: none;
          color: #5d5e64;
        }
        .filters{
          &:before{
            content: "";
            background: url("/img/filters-icon.png");
            background-size: cover;
            height: 16px;
            width: 14px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
          }
        }
        .reset-filters{
          &:before{
            content: "";
            background: url("/img/close-icon.png");
            background-size: cover;
            height: 11px;
            width: 11px;
            margin-right: 5px;
            display: inline-block;
            vertical-align: middle;
          }
          &:hover{
            text-decoration: underline 1px solid;
          }
        }
      }
      .filter-body{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        border: var(--color-silver) 1px solid;
        border-top: none;

        border-radius:0 0 5px 5px;
        margin-bottom: 20px;
        span {
          font-weight: 500;
        }
        .price-filter{
          cursor: pointer;
          display: flex;
          max-width: 400px;
          width: 100%;
          justify-content: space-between;
          align-items: center;
          min-height: 80px;
          .noUi-horizontal{
            height: 3px;
            .noUi-connect{
              background: var(--color-primary);
            }
          }
          .prices-slider{
            width: 100%;
            max-width: 200px;
            .noUi-target{
              background: var(--color-silver);
              border: 1px solid var(--color-background);
            }
            .noUi-handle {
              background: #f7dc23;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              right: -10px;
              top: -10px;
              &:before{
                display: none;
              }
              &:after{
                display: none;
              }
            }
            .noUi-tooltip{
              border: none;
              position: revert;
              background: none;
            }
          }
        }
        .sorting-filter{
          display: flex;
          align-items: center;
          justify-content: space-between;
          max-width: 400px;
          width: 100%;
          padding-left: 50px;
          .select2{
            .select2-results{
              border: none;
              ul{
                border: none;
              }
            }
            width: 250px;
            .selection{
              .select2-selection{
                border: none;
              }
            }
          }
        }
      }
      .catalog{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        @include breakpoint-mobile {
          margin: 0 50px;
        }
        .product{
          border-radius: 4px;
          a{
            text-decoration: none;
            color: black;
            font-weight: 700;
            text-align: center;
          }
          .one-click{
            margin-top: 5px;
            max-width: 260px;
            width: 100%;
            height: 48px;
            border-radius: 10px;
            background: var(--color-white);
            margin-bottom: 12px;
            border: var(--color-silver) 1px solid;
            &:hover{
              background: var(--color-background);
            }
          }
        }
      }
    }
  }
}