
.footer {
  background: url("/img/footer.png");
  width: 100%;
  height: 570px;

  .logo {
    max-width: 230px;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 25px;
  }

  .contacts {
    max-width: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;

    a:not(.delivery-link) {
      text-decoration: none;
      color: var(--color-white);


    }

    .delivery {
      color: var(--color-white);
      display: flex;
    }

    .social {
      display: flex;
      width: 100px;
      justify-content: space-between;
      margin-bottom: 82px;
        margin-top: 10px;
    }

    .seo {
      display: flex;
    }

    .item {
      margin-bottom: 16px;
    }
  }

  .footer-container {
    display: flex;
  }

  .about {
    max-width: 590px;
    width: 100%;
    display: flex;

    h4 {
      margin-top: 63px;
      color: var(--color-silver);
      text-transform: uppercase;
      font-size: 20px;
      margin-bottom: 39px;

    }

    .item {
      margin-bottom: 23px;
      text-decoration: none;
      color: var(--color-white);
      font-size: 16px;
      line-height: 18px;

      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }

  .info {
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 18px;
      .copyright{
          color:var(--color-silver) ;
          font-size: 14px;
          margin-top: 37px;
      }
  }


}
