.header {
  background: var(--color-dark);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .logo {
    margin-top: 6px;
    margin-bottom: 14px;
  }

  .nav-and-search {
    margin-top: 22px;
    max-width: 578px;
    width: 100%;
    margin-left: 25px;
    margin-right: 25px;
    .nav {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      margin-top: 17px;
    }
  }
  .nav-and-search a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    &:hover{
      color: #f7dc23;
    }
  }

  .search {
    max-width: 580px;
    width: 100%;
    min-width: 300px;
    position: relative;


    input {
      width: 100%;
      height: 50px;
      border-radius: 10px;
      padding: 0 40px;
      border:none;
    }

    .search-icon {
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0;
      position: absolute;
      width: 20px;
      height: 20px;
    }

    .button {
      max-width: 95px;
      width: 100%;
      position: absolute;
      right: 0;
      height: 100%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border:none;
      appearance: none;
     background: #f7dc23;
      &:hover{
        background: #e5e8f5;
      }
    }
  }
  .favorites {
    display: flex;
    height: 112px;
    max-width: 318px;
    width: 100%;
    margin: 10px 0;
  }
  .favorites a {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 107px;
    width: 100%;
    padding: 3px;
    height: 112px;
    text-decoration: none;
    font-size: 14px;
    white-space: nowrap;
    &:hover{
      background: #34363e;
    }
  }
  .name{
    margin-bottom: 30px;
    margin-top: 17px;
    padding: 2px 0;
  }
.item-icon{
  margin: auto;
}
}