.order-buttons{
  height: 110px;
  max-width: 340px;
  width: 100%;
button{
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  border: none;
  height: 50px;
  margin: 0 20px;

}
  .checkout{
    background: var(--color-primary);
    margin-bottom: 10px;
    &:before{
      content: "";
      background: url(/img/button-icon.png);
      background-size: cover;
      height: 22px;
      width: 22px;
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .one-click{
    background: var(--color-white);
    border: var(--color-silver) 1px solid;
  }

}