
.popular {
  border-bottom: var(--color-silver)  1px solid;
  .container {
    .title {
      font-size: 31px;
      margin: 45px auto 40px;
      text-align: center;
    }

    .products {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 50px;
    }

  }
}